body {
    width: 400px;
    height: fit-content;
    padding: 5px; 
    position: relative;
    margin: 0px;
}
button { 
    box-shadow: 2px 2px 20px black;
    border-radius: 1.2rem;
    width: 50%; 
    padding: 10px; 
    background-color: #4CAF50; 
    color: white; border: none; 
    cursor: pointer; 
    
    transition: all ease 0.6s;
}
#runScriptButton{
    margin-block: 20px;
}
button:hover { 
    background-color: #45a049;
    box-shadow: 0px 0px 0px;
}

#result { 
    white-space: pre-wrap; 
    background: #f1f1f1; 
    padding: 10px; 
    border-radius: 5px; 
    font-size: 12px;
    
}


#closeButton{
    position: absolute;



    width: 10px;
    height: 10px;
    right: 2px;
    top: 2px;

    background-color: red;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
